body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0px;
}
.header {

   display: block;               
  background: #000000; 
  color: #ffffff; 
  padding: 12px; 
  text-align: center; 
  margin-bottom: 18px; 
}


.product-container {
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    display: flex;
    gap: 20px;
   
}


.product-image img {
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


.product-details {
    width: 100%;
}

.product-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

.price {
    font-size: 24px;
    color: #e60000;
    font-weight: bold;
    margin-bottom: 20px;
}


.buy-btn {
    padding: 12px 25px;
    background-color: #efb507;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #f10e30;
}
