body {
    margin: 0;
    padding: 0;
}


.container {

    margin: 20px;
    padding: 10px;
}


.header {
    background: #d3d3d3;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}



.menu1 a {
    display: inline-block;
    background: #c6e3f5;
    padding: 8px 12px;
    margin-right: 5px;
    text-decoration: none;
    color: blue;
    font-size: 16px;
    border-radius: 3px;
}


.menu2 a {
    float: left;
    background: #b7f5b7;
    padding: 8px 12px;
    margin-right: 5px;
    margin-top: 8px;
    color: blue;
    text-decoration: none;
    border-radius: 3px;
}


.clear {
    clear: both;
}