body{
    margin:0px;
    padding:0px;
}
html,*{
    margin:0px;
    padding:0px;
    font-size: 2rem;

}
main{
    display : grid;
    grid-template-columns: repeat(3,1fr);
    gap:1px;
}
.box{
    background-color: lightcoral;
    width: 500px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
}